.add-margin-top {
    margin-top: 5%;
}

.add-margin-left {
    margin-left: 10%;
}

@media only screen and (max-device-width: 480px) {
    define mobile specific styles come here 
    .add-margin-top {
        margin-top: 20%;
    }

    .add-margin-bottom {
        margin-top: 5%;
    }
}

 .add-margin-bottom {
    margin-bottom: 5%;
}

div{
    height:auto; 
    margin:0 auto; 
}

form{
    width:50%; 
    margin:0 auto;
}
body {
    float: left;
    text-align: center;
    background-color: rgb(242, 243, 244);

} 

.song_div {
    border: #1DB954;
    border-width: 1px;
    border-radius: 16px;
    border-style: solid;
    height: 3em;
    justify-content: center
}

.name_div {
    float: left;
    width: 33%;
    justify-content: center
}

.artists_div {
    float: left;
    width: 33%;
    justify-content: center
}

.duration_div {
    float: left;
    width: 33%;
    justify-content: center
}


/* ===================================== Homepage styles ======================================== */
.navbar-default {
    font-size: 17px;
    margin: 0;
    padding: 7px;
}

nav .navbar-brand {
    font-size: 15px;
}

change default hover on links*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover {
    color: #2E3134;
} 

change default active links
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {

}



/*change default behaviour of jumbotron*/
.jumbotron {
    margin-bottom: 0;
    height: 350px;
    color: white;
    background-color: #2E3134;
    border-radius: 0 !important;
}

.jumbotron .element {
    color: white;
}

.section-heading {
    color: #2E3134;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

.hr-line {
    max-width: 50px;
    border-top: 2px solid #2E3134;
}


/* ===================================== Profile styles ======================================== */
.list-group-item {
    border-radius: 0 !important;
    float: left;
}
.inline-form {
    display: inline;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1DB954;
    color: white;
    width: 100%;
    font-size: 30px;
}

.thumbnail {
    border-radius: 0;
    box-shadow: 2px 2px 2px #D6DBDF;
    border: 0;
    color: #2E3134;
}

.thumbnail:hover {
    box-shadow: 2px 2px 2px #A6ACAF;
    border: 0;
    text-decoration: none;
}

.no_borders {
    border-radius: 10px;
}

.flask-pagedown-preview {
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 2px 2px #D6DBDF;
}

.flask-pagedown-preview::before {
    content: "Preview:";
    font-weight: bold;
    font-size: 18pt;
}

.inline-headers h3, .inline-headers h5 {
    display: inline-block;
    vertical-align: baseline;
    background-color: lightskyblue;
}

.inline-p p {
    display: inline-block;
    vertical-align: baseline;
}

.table {
    border: 1px solid black;
}

.th, .td {
    border: 1px solid black;
    float: left;
}