<!DOCTYPE html>
<html lang="en">
<head>
     <link rel='stylesheet' href="../static/css/base.css">
    <meta charset="UTF-8">
    <link href=“https://fonts.googleapis.com/icon?family=Material+Icons”
          rel=“stylesheet”>
    <link rel=“shortcut icon” href=“data:image/x-icon;,” type=“image/x-icon”>
    <link rel=“icon” href=“data:;base64,iVBORw0KGgo=“>
    <link href=‘//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext’ rel=‘stylesheet’ type=‘text/css’>
    <link rel=“stylesheet”
    <meta name=“viewport” content=“width=device-width, initial-scale=1, shrink-to-fit=yes”>
    <!-- Bootstrap CSS -->
    <link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css”
          integrity=“sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T”
          crossorigin=“anonymous”>
    <link href=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css” rel=“stylesheet”/>
    <script src=“https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js”></script> (edited)


    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="header">
        <H2> Welcome to suggestTunes</H2>
        <div class="content"><img src="../static/images/genre_guitar.png" style="width:350px;height:250px;" alt="">
        </div>
    </div>

</nav>
     <div >
{#            <form action="/search" method="post">#}
{#                <h3 style="background-color: #EFFBFB">Search by Song Title</h3>#}
{#                Song Title: <input type="text" name="name" placeholder="* required">#}
{#                <p></p>#}
{#                Playlist length: <input type="text" duration="duration" placeholder="* in minutes">#}
{#                    <input type="submit" value="Submit">#}
{#                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#            </form>#}
                 <div >
            <form action="/search" method="post">
                <h3 style="background-color: #EFFBFB">Search by Song Title</h3>
                            <label><b>Song Title</b></label><br>
                <input type="text" placeholder="* required" name="name">
                <p>
                    <label><b>Playlist length</b></label><br>
                    <input type="text" placeholder="* length in minutes" name="duration">
                <p>


                <button type="submit">Submit</button><br>
                <p></p>
                <br>
            </div>
        </div>
{#  <a href="/search">Create a Playlist</a>#}

</body>
</html>