<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Search</title>
</head>
<body>
    <nav class="navbar-default">
        <div >
            <form action="/search" method="post">
                <h3 style="background-color: #EFFBFB">Search by Song Title</h3>
                            <label><b>Song Title</b></label><br>
                <input type="text" placeholder="* required" name="name">
                <p>
                    <label><b>Playlist length</b></label><br>
                    <input type="text" placeholder="* length in minutes" name="duration">
                <p>


                <button type="submit">Submit</button><br>
                <p></p>
                <br>
            </div>
        </form>
{#                Song Title: <input type="text" name="name" placeholder="* required">#}
{#                 <p></p>#}
{#                Playlist length: <input type="text" duration="duration" placeholder="* in minutes">#}
{##}
{#                    <input type="submit" value="Submit">#}
{#                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#            </form>#}
        </div>
    </nav>
</body>
</html>