<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
 
<div class="ui-widget">
  <label for="songs">Songs: </label>
  <input type="text" id="search_word">
</div>

<script>
  const API_URL = '/api'
  const input = document.getElementById('search_word')

  const handleResponse = ({ target }) => {
    // TODO put results from target.responseText into songs variable
    console.log(target.responseText)
  }

  const handleInput = ({ target }) => {
    const xhr = new XMLHttpRequest()
    const data = new FormData()

    data.append('input', target.value)
    xhr.addEventListener('load', handleResponse)
    xhr.open('POST', API_URL)
    xhr.send(data)
  }

  input.addEventListener('keyup', handleInput)
  
  // Things in "songs" variable will allow autocompletion
  var songs = [
    "Roar - Katy Perry",
    "Get Lucky - Daft Punk"
  ];
$( function() {
  $( "#search_word" ).autocomplete({
    source: songs
  });
} );
</script>
 
 
</body>
</html>