<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>suggesTunes test</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
 
<div class="ui-widget">
  <div id="search">
    <label for="songs">Songs: </label>
    <input type="text" id="search_word" autocomplete="off">
    <div id="results"></div>
  </div>
</div>

<script>
  const API_URL = '/api'
  const input = document.getElementById('search_word')

  const handleResponse = ({ target }) => {
    results = JSON.parse(target.responseText)
    try {
      var element = document.getElementById("results")
      element.parentNode.removeChild(element)
    } catch {}
    
    var results_div = document.createElement("div")
    results_div["id"] = "results"

    for (const result of Object.entries(results)) {
      const data = result[1]
      const song = "" + data[0] + " - " + data[1]
      const index = data[2]

      var parent = document.getElementById('search')
      parent.appendChild(results_div)

      var newDiv = document.createElement("div")
      var newButton = document.createElement("button")
      newButton["id"] = index
      newButton["value"] = song
      newButton.innerHTML = song
      
      newButton.addEventListener('click', ({target}) => {
        // Add link functionality here!
        console.log(target.id)
        console.log(target.value)
      })

      newDiv.appendChild(newButton)
      results_div.appendChild(newDiv)
    }
  }

  const debounce = function (func, delay) {
	  try {
      clearTimeout(timer)
    } catch {}
	  timer = setTimeout(func, delay)
  }

  const makeAPIcall = (target) => () => {
    const xhr = new XMLHttpRequest()
    const data = new FormData()

    data.append('input', target.value)
    xhr.addEventListener('load', handleResponse)
    xhr.open('POST', API_URL)
    xhr.send(data)
  }

  input.addEventListener('keyup', function ({ target }) {
    debounce(makeAPIcall(target), 200)
  })
</script>
 
 
</body>
</html>